





/*--------------------------------------------------------------
# Main Menu All Responsice Css
--------------------------------------------------------------*/

@media only screen and (min-width: 1200px) and (max-width: 1319px) {
    /*================================
        HOME PAGE 01 START
    ================================*/
    .main-slider-three__title {
        font-size: 60px;
    }
    .main-header-three__top-inner {
        padding-right: 5px;
    }
    .main-menu-three__main-menu-box {
        margin-left: 65px;
    }
    .main-menu .main-menu__list>li+li, .stricky-header .main-menu__list>li+li {
        margin-left: 10px;
    }
    .section-title-three {
        margin-bottom: 0px;
    }
    .about-three__left {
        padding-top: 60px;
    }
    .about-three__experience {
        padding: 10px 15px 15px 10px;
        left: 8px;
    }
    .service-count.count-box::after {
        width: 290px;
    }
    .faq-two-accrodion {
        margin-top: 30px;
    }
    .faq-two-accrodion .accrodion-title h4 {
        font-size: 50px;
    }
    .latest-feature__left {
        padding: 80px 70px 80px 0;
    }
    .inner-box .info-box {
        left: 30px;
        width: 290px;
    }
    .inner-box .info-box ul li h4 a {
        font-size: 20px;
    }
    .section-title-three__title {
        font-size: 50px;
        margin-top: 20px;
        margin-bottom: 30px!important;
    }
    .contact-box {
        margin-left: 5px;
    }
    .latest-feature__right {
        padding: 80px 0px 105px 50px;
    }
    .testimonial-three-heading p {
        font-size: 15px;
    }
    .testimonial-three-info p {
        font-size: 19px;
    }
    .ask-question__img {
        margin-top: 30px;
    }
    .ask-question__experience {
        width: 223px;
        padding: 15px 35px 18px 35px;
        right: 0;
    }
    .section-title-three__title.trust-us {
        font-size: 50px;
    }
    .trust-us-right {
        padding-top: 50px;
        margin-left: 0;
    }
    .footer-widget-three__contact-list {
        padding: 35px 15px 34px 15px;
    }
    .footer-widget-three__about-text {
        font-size: 15px;
    }
    /*================================
        HOME PAGE 01 END
    ================================*/


    /*================================
        HOME PAGE 02 START
    ================================*/


    .about-two__left {
        margin-top: 80px!important;
    }
    .about-two {
        padding: 120px 0 120px!important;
    }
    .appointment-two-heading {
        font-size: 48px;
    }
    .info-section {
        margin-left: 55px;
    }
    .info-item-text p {
        font-size: 15px;
    }
    .contact-form {
        padding: 60px 30px 40px;
    }
    .info-item::after {
        width: 482px;
    }
    .custom-nav-button.left {
        left: 175px;
    }
    .custom-nav-button {
        top: 100px;
    }
    .portfolio-two__title a {
        font-size: 20px;
    }
    .portfolio-two__content {
        bottom: 20px;
    }
    .our-service-two-heading__right {
        margin-left: 20px;
    }
    .inner-content p {
        padding-right: 30px;
    }
    .section-title-two__title {
        font-size: 50px;
    }
    .our-sevice-two-right-content .service-two-icon {
        top: 20px;
        right: 30px;
    }
    .testimonial_text_area {
        margin-left: -120px;
    }
    .single_testimonial_text {
        padding: 60px 15px 50px 15px;
    }
    .single_testimonial_text .description {
        font-size: 15px;
    }
    .pricing-two .section__title-two {
        font-size: 50px;
    }
    .pricing-two-left {
        padding-left: 50px;
    }
    .pricing-two-description {
        font-size: 15px;
    }
    .subscribe-two-text h3 {
        font-size: 50px;
    }
    .subscribe-two-text p {
        font-size: 15px;
    }
    .subscribe-two__input-box input[type="email"] {
        width: 352px;
    }
    .subscribe-two__input-box span {
        left: 319px;
    }
    .footer-widget-three__subscribe-btn {
        bottom: 46px;
    }
    /*================================
        HOME PAGE 02 End
    ================================*/

    /*================================
        About Us START
    ================================*/
    .tab-content .tab-text p {
        font-size: 15px;
    }
    .testimonial_text_area.about-us {
        margin-left: -249px;
    }
    .single_testimonial_text.about-us {
        width: 430px;
        padding: 60px 30px 40px 30px;
    }
    .description.about-us {
        font-size: 22px;
    }
    .testimonial-three-left.about-us {
        margin-left: -32px;
    }
    /*================================
        About Us End
    ================================*/
    /*================================
        Service  START
    ================================*/
    
    .feature-two-info h3 a {
        font-size: 20px;
    }
    /*================================
        Service  START
    ================================*/
    /*================================
        Service END
    ================================*/
    .services-details__services-list li a {
        font-size: 18px;
        padding: 16px 15px;
    }
    .services-details__title-1 {
        font-size: 48px;
    }
    .services-details__feature-content ul li span {
        font-size: 15px;
    }
    /*================================
        Project Details START
    ================================*/
    .project-details__services-list li h4 {
        font-size: 18px;
    }
    .project-details__services-list li span {
        font-size: 15px;
    }
    .project-details__services-list-04 {
        padding: 15px 11px;
        gap: 0;
    }
    .project-details__services-list-05 {
        gap: 30px;
        padding: 14px 20px 18px 20px;
    }
    .project-details-file-download {
        padding: 40px 15px;
    }
    .project-details-img-text-right {
        margin-left: -16px;
        padding-top: 0px;
    }
    .project-details__feature-content ul {
        padding-left: 0px;
    }
    .project-details__feature-content ul li span {
        font-size: 15px;
    }
    .project-details__feature-content ul li + li {
        margin-top: 15px;
    }
    /*================================
        Project Details END
    ================================*/
    /*================================
        Team START
    ================================*/
    .inner-box .info-box {
        left: 20px;
        width: 310px;
    }
    .features-block .social-links {
        right: 40px;
    }
    /*================================
        Team END
    ================================*/
    /*================================
        Team Details START
    ================================*/
    .team-details__title-1 {
        margin-top: 0px; 
    }
    .appointment-container h2 {
        font-size: 28px;
    }
    .team-details__progress-image {
        margin-top: 25px;
    }

    /*================================
        Team Details END
    ================================*/
    /*================================
        Blog START
    ================================*/
    .blog-img {
        width: 650px;
    }
    .sidebar__single.sidebar__post {
        padding: 15px;
    }
    .sidebar__post-title a {
        font-size: 18px;
    }
    .blog__title-1 {
        font-size: 25px;
    }
    .sidebar__single.sidebar__tag {
        padding: 40px 13px 40px 13px;
    }
    .sidebar__tag-list a {
        font-size: 15px;
    }
    /*================================
        Blog END
    ================================*/
    /*================================
        Blog Details START
    ================================*/
    .blog-details__title-1 {
        font-size: 50px;
    }

    /*================================
        Blog Details END
    ================================*/
  
}



@media only screen and (min-width: 992px) and (max-width: 1199px) {




    .main-menu-two .mobile-nav__toggler {
        color: var(--Mediest-gray-primary);
    }

    .main-menu-two .mobile-nav__toggler:hover {
        color: black;
    }

    .main-slider-three__title {
        font-size: 46px;
        line-height: 68px;
    }
    .main-slider__btn-and-video-box {
        display: block;
    }
    .main-slider__video-link {
        margin-left: 15px;
        margin-top: 40px;
    }
    .about-three {
        padding-bottom: 90px;
    }
    .about-three__left {
        margin-right: 10px;
    }
    .about-three__experience {
        bottom: -15px;
        left: 0;
        padding: 10px 13px 10px;
    }
    .about-three__experience-count {
        margin-left: 10px;
    }
    .about-three__experience-count h3 {
        font-size: 26px;
    }
    .about-three__experience-text {
        font-size: 15px;
    }
    .section-title-three__title {
        font-size: 50px;
    }
    .service-counter-box {
        margin-top: 30px;
    }
    .faq-two-accrodion {
        margin-top: 30px;
    }
}




@media only screen and (min-width: 768px) and (max-width: 991px) {
    .main-header__top-right {
        display: none;
    }

    .main-header__top-inner {
        justify-content: center;
    }



    .main-header-two__top {
        display: none;
    }

    .main-menu-two .mobile-nav__toggler {
        color: var(--bizro-base);
    }

    .main-menu-two .mobile-nav__toggler:hover {
        color: var(--bizro-black);
    }

    .main-menu-two__right {
        display: none;
    }

    .main-menu-two__logo {
        margin-right: 0;
    }

    .main-menu-two__left {
        justify-content: space-between;
        flex: 1;
    }

    .main-menu-two__wrapper-inner {
        padding-right: 60px;
    }





    .main-header-three__top {
        display: none;
    }

    .main-menu-three .mobile-nav__toggler {
        color: var(--bizro-base);
    }

    .main-menu-three .mobile-nav__toggler:hover {
        color: var(--bizro-black);
    }







    .main-header-four__top {
        display: none;
    }














}


@media (max-width: 767px) {
    .main-header__top {
        display: none;
    }

    .main-menu__right {
        display: none;
    }






    .main-header-two__top {
        display: none;
    }

    .main-menu-two .mobile-nav__toggler {
        color: var(--bizro-base);
    }

    .main-menu-two .mobile-nav__toggler:hover {
        color: var(--bizro-black);
    }

    .main-menu-two__right {
        display: none;
    }

    .main-menu-two__logo {
        margin-right: 0;
    }

    .main-menu-two__left {
        justify-content: space-between;
        flex: 1;
    }

    .main-menu-two__wrapper-inner {
        padding-right: 20px;
        padding-left: 20px;
    }







    .main-header-three__top {
        display: none;
    }

    .main-menu-three .mobile-nav__toggler {
        color: var(--bizro-base);
    }

    .main-menu-three .mobile-nav__toggler:hover {
        color: var(--bizro-black);
    }

    .main-menu-three__right {
        display: none;
    }









    .main-header-four__top,
    .main-menu-four__right {
        display: none;
    }

    .main-menu-four__wrapper-inner {
        padding: 0 20px 0;
    }








}




@media only screen and (min-width: 1200px) and (max-width: 1380px) {

}

@media only screen and (min-width: 1400px) and (max-width: 1599px) {}


@media only screen and (min-width: 1200px) and (max-width: 1399px) {}


@media only screen and (min-width: 1600px) and (max-width: 1830px) {}


@media only screen and (min-width: 1500px) and (max-width: 1700px) {}

@media only screen and (min-width: 1200px) and (max-width: 1499px) {}